<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container col-sm-6">
    <!--/*@thymesVar id="titulo" type=""*/-->
    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/listado}" class="btn btn-primary">Listado</a>
</div>
<div class="container col-sm-6">
    <!--/*@thymesVar id="libro" type=""*/-->
    <form th:action="@{/crear}" th:method="post" th:object="${libro}">
        <div class="form-group">
            <label for="titulo">Título*</label>
            <input type="text" th:field="*{titulo}" class="form-control" id="titulo"
                   placeholder="Introduce el título">
            <small th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
        </div>
        <div class="form-group">
            <label for="autor">Autor*</label>
            <input type="text" th:field="*{autor}" class="form-control" id="autor" placeholder="Autor">
            <small th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></small>
        </div>
        <div class="form-group">
            <label for="genero.id">Género*</label>
            <select class="form-control" id="genero.id" th:field="*{genero.id}">
                <option value="">Selecciona un género</option>
                <option th:each="genero : ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"></option>
            </select>
            <small th:if="${#fields.hasErrors('genero.id')}" th:errors="*{genero.id}"></small>
        </div>
        <div class="form-group">
            <label for="editorial">Editorial</label>
            <input type="text" th:field="*{editorial}" class="form-control" id="editorial" placeholder="Editorial">
        </div>
        <div class="form-group">
            <label for="precio">Precio*</label>
            <input type="text" th:field="*{precio}" class="form-control" id="precio" placeholder="Precio">
            <small th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
        </div>
        <div class="form-group">
            <label for="numeroPaginas">Número de páginas</label>
            <input type="text" th:field="*{numeroPaginas}" class="form-control" id="numeroPaginas"
                   placeholder="Número de páginas">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="ISBN">
        </div>
        <div class="form-group date">
            <label for="fechaPublicacion">Fecha de publicación</label>
            <input type="date" th:field="*{fechaPublicacion}" class="form-control col-sm-3" id="fechaPublicacion"
                   placeholder="Fecha de publicación">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>